.controls .menu-toggle
{
	background: transparent;
	padding: 6px;
}

.controls .menu-toggle svg
{
	fill: var( --color-blue );
}

.open .controls .menu-toggle svg
{
	fill: var( --color-gray );
}