@value controls: "./Controls.module.css";
@value colors: "../Colors.css";
@value gray, light-gray from colors;

.button
{
	composes: button from controls;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.button.deselected
{
	background-color: gray;
}

.button.deselected svg
{
	fill: light-gray;
}