@value interface: "../Interface.module.css";
@value spacing-tiny, spacing-small from interface;
@value colors: "../../Colors.css";
@value white, light-blue, dark-gray from colors;

.bar
{
	height: 26px;
	display: flex;
	color: white;
	background-color: dark-gray;
	display: flex;
	align-items: center;
	font-weight: 500;
	letter-spacing: 0.1em;
	font: inherit;
}

.bar
{
	padding-left: spacing-small;
	padding-right: spacing-tiny;
}

.bar > *:first-child
{
	flex-grow: 1;
}

.button
{
	composes: button from interface;
	padding: spacing-tiny;
	background-color: transparent;
	display: inline-flex;
}

.button svg
{
	height: 16px;
	fill: light-blue;
}

.button:active svg
{
	fill: white;
}

.content
{
	display: none;
}

.item.open .content
{
	display: block;
	padding: spacing-small;
	padding-left: calc( spacing-small * 3 );
	box-sizing: border-box;
}