.menu
{
	--text-shadow: 2px 2px 1px #00000091;
	--menu-spacing: 4px;
	position: absolute;
	pointer-events: auto;
	width: var( --menu-width );
	color: var( --menu-text );
}

.menu, .menu .tabs > *
{
	height: inherit;
}

.menu, .menu .tabs button:disabled
{
	background-color: var( --menu-bg );
}

.menu .tabs button
{
	color: #818181;
	padding: 0;
	background-color: transparent;
	border-bottom: 1px solid #777777;
}

.menu .tabs button:disabled
{
	text-shadow: var( --text-shadow );
	color: #ffffff;
	border-bottom: none;
	cursor: initial;
}

.menu .tabs
{
	background-color: var( --menu-tabs-bg );
	height: 36px;
}

.menu .tabs > *
{
	width: 33.3333%;
}

.menu .content
{
	padding: var( --menu-spacing );
}

.menu .content > *:not(:first-child)
{
	margin-top: var( --menu-spacing );
}