.menu
{
	position: absolute;
	height: inherit;
	pointer-events: auto;
	width: var( --menu-width );
	background-color: var( --menu-bg );
}

.tabs button
{
	background-color: #343537;
	color: #848484;
	padding: 10px;
	border-bottom: 1px solid #5b5c5d;
	width: 33.333%;
}

.tabs button.selected
{
	color: #fff;
	background-color: var( --button-color );
	border-bottom: none;
}

.tabs button.selected:not(:first-child)
{
	border-left: 1px solid #5b5c5d;
}

.tabs button.selected:not(:last-child)
{
	border-right: 1px solid #5b5c5d;
}

.content
{
	box-sizing: border-box;
	padding: 20px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #fff;
}

.submenu > *:not(:first-child)
{
	margin-top: 60px;
}

.submenu .inner > *
{
	margin-top: 10px;
}