.menu
{
	pointer-events: auto;
	position: absolute;
	width: var( --menu-width );
	color: var( --color-light-gray );
	font-weight: 300;
	height: 100%;
}

.menu, .menu button, .menu select, .menu input
{
	letter-spacing: 0.1em;
	font-size: 0.94em;
}

.menu, .menu .inner
{
	height: 100%;
	box-sizing: border-box;
	padding: 1px 1px 0 1px;
}

.menu, .menu .inner, .menu .tabs button:disabled
{
	background-color: var( --color-gray );
}

.menu .inner
{
	border: 1px solid var( --color-dark-gray );
	border-bottom: none;
}

.menu .tabs
{
	height: var( --button-size );
}

.menu .tabs > *
{
	height: inherit;
}

.menu button
{
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
}

.menu .tabs
{
	background-color: var( --color-dark-gray );
}

.menu .tabs button
{
	color: var( --color-medium-gray );
	background-color: transparent;
	border-bottom: 1px solid var( --color-medium-gray );
}

.menu .tabs button:disabled
{
	border-top: 2px solid var( --color-light-blue );
	text-shadow: var( --text-shadow );
	color: var( --color-white );
	border-bottom: none;
	cursor: initial;
}

.menu .tabs > *
{
	width: 33.3333%;
}

.menu .content
{
	padding: var( --spacing-small );
	padding-top: calc( var( --spacing-small ) + 2px );
}

.menu .content > *:not(:first-child)
{
	margin-top: var( --spacing-tiny );
}