.graph
{
	background-color: #edeff1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.graph.panning
{
	cursor: move;
}

.graph.marqueeing:not(.panning)
{
	cursor: crosshair;
}

.graph button
{
	box-sizing: border-box;
	background: transparent;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
}

.marquee
{
	opacity: 0;
	fill: #2891ca29;
	stroke-width: 1px;
	stroke: #2891caba;
}

.marquee.active
{
	opacity: 1;
}