.sub-menu, .sub-menu .kvp input, .sub-menu .new
{
	width: 100%;
}

.sub-menu button
{
	color: var( --color-white );
}

.sub-menu button.toggle, .sub-menu.open .sub-content, .sub-menu .kvp span, .sub-menu .new
{
	display: flex;
}

.sub-menu button.sub-menu-toggle, .sub-menu button.confirm, .sub-menu .new button
{
	background-color: var( --color-blue );
}

.sub-menu button.toggle
{
	align-items: center;
	text-shadow: var( --text-shadow );
	width: inherit;
}

.sub-menu button.sub-menu-toggle
{
	padding: var( --spacing-tiny ) var( --spacing-small );
	border: 1px solid var( --color-light-blue );
}

.sub-menu button
{
	padding: calc( var( --spacing-tiny ) + 1px ) calc( var( --spacing-small ) + 1px );
}

.sub-menu button.toggle svg
{
	display: block;
	height: 1em;
	fill: var( --color-white );
}

.sub-menu button.toggle svg, .sub-menu .new input
{
	margin-right: var( --spacing-small );
}

.sub-menu.open button.sub-menu-toggle svg
{
	transform: rotate( 90deg );
}

.sub-menu .sub-content, .sub-menu .accent
{
	display: none;
}

.sub-menu.open .sub-content
{
	flex-direction: column;
	border: 1px solid var( --color-dark-gray );
	margin-top: var( --spacing-tiny );
}

.sub-menu button, .sub-menu input, .sub-menu select, .sub-menu.open .sub-content, .sub-menu .new
{
	box-sizing: border-box;
}

.sub-menu .kvp
{
	margin: var( --spacing-small );
	margin-bottom: 0;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: var( --spacing-tiny );
	grid-column-gap: calc( 2 * var( --spacing-small ) );
}

.sub-menu .kvp span
{
	align-items: center;
}

.sub-menu .kvp :nth-child(2n+1)::after
{
	content: ":"
}

.sub-menu button.confirm
{
	margin: var( --spacing-small ) auto;
}

.sub-menu button.confirm, .sub-menu .new button
{
	border-radius: var( --button-radius );
}

.sub-menu button.confirm:active, .sub-menu select, .sub-menu input
{
	background-color: var( --color-dark-gray );
}

.sub-menu select, .sub-menu input
{
	outline: 1px solid transparent;
	color: var( --color-light-gray );
	padding: 3px;
	transition: 0.2s outline ease;
	transition-property: outline;
}

.sub-menu input:focus, .sub-menu select:focus
{
	outline: 1px solid var( --color-light-blue );
	outline-offset: 0;
}

.sub-menu select, .sub-menu input
{
	border: none;
}

.sub-menu.open .accent
{
	display: block;
	border-bottom: 1px solid var( --color-medium-gray );
	width: calc( 100% - 4px );
	margin-left: 2px;
}

.sub-menu.open .accent, .sub-menu .items > *:not(:first-child)
{
	margin-top: 1px;
}

.sub-menu .new
{
	padding: var( --spacing-small );
}

.sub-menu .new input
{
	flex-grow: 1;
}