.sub-menu > *:not(:first-child), .sub-menu .sub-inner > *:not(:first-child)
{
	margin-top: var( --spacing-tiny );
}

.sub-menu .toggle
{
	border: 1px solid var( --color-light-blue );
	text-shadow: var( --text-shadow );
}

.sub-menu .toggle, .sub-menu .buttons button
{
	padding: 0 var( --spacing-small );
}

.sub-menu button, .sub-menu select, .sub-menu input
{
	height: 28px;
}

.sub-menu .toggle, .sub-menu input
{
	width: 100%;
}

.sub-menu .toggle, .sub-menu .kvp span
{
	align-items: center;
}

.sub-menu .toggle svg
{
	fill: var( --color-white );
	height: 14px;
}

.sub-menu.open .toggle svg
{
	transform: rotate( 90deg );
}

.sub-menu .toggle, .sub-menu .sub-inner, .sub-menu .kvp span
{
	display: flex;
}

.sub-menu .toggle > *:not(:first-child)
{
	margin-left: var( --spacing-small );
}

.sub-menu .sub-content
{
	display: none;
	font-size: 11pt;
}

.sub-menu.open .sub-content
{
	display: block;
}

.sub-menu .sub-inner
{
	flex-direction: column;
	border: 1px	solid var( --color-dark-gray );
}

.sub-menu .sub-inner, .sub-menu input, .sub-menu select, .sub-menu select > *
{
	letter-spacing: 0.1em;
	font-weight: 300;
}

.sub-menu input, .sub-menu select, .sub-menu select > *
{
	font-size: 1em;
}

.sub-menu select, .sub-menu input
{
	color: var( --color-light-gray );
	border: none;
}

.sub-menu .kvp
{
	margin: var( --spacing-small );
	margin-bottom: 0;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: var( --spacing-tiny );
	grid-column-gap: calc( 2 * var( --spacing-small ) );
}

.sub-menu .kvp span:nth-child(2n+1)::after
{
	content: ":"
}

.sub-menu input
{
	padding: var( --spacing-tiny );
	box-sizing: border-box;
}

.sub-menu input, .sub-menu select, .sub-menu .buttons button:active
{
	background-color: var( --color-dark-gray );
}

.sub-menu input:focus, .sub-menu select:focus
{
	outline: 1px solid var( --color-light-blue );
	outline-offset: 0;
}

.sub-menu input[type="file"]
{
	padding: 3px;
	height: auto;
}

.sub-menu .buttons
{
	margin-left: auto;
	margin-right: auto;
	padding: var( --spacing-small );
}

.sub-menu .buttons button
{
	border-radius: var( --button-radius );
}

.sub-menu.open .accent
{
	display: block;
	border-bottom: 1px solid var( --color-medium-gray );
	width: calc( 100% - 4px );
	margin-left: 2px;
	margin-top: 1px;
}