@value edgebase: "../../../nodegraph/views/graph/Edge.module.css";

.edge
{
	composes: edge from edgebase;
	display: none;
}

.edge.visible
{
	display: initial;
}

.edge text
{
	user-select: none;
	pointer-events: none;
}