@value controls: "../../../../nodegraph/views/interface/controls/Controls.module.css";
@value colors: "../../../../nodegraph/views/Colors.css";
@value gray, light-gray from colors;

.button
{
	composes: button from controls;
}

.button.deselected
{
	background-color: gray;
}

.button.deselected svg
{
	fill: light-gray;
}