.graph
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.graph.panning
{
	cursor: move;
}

.marquee
{
	opacity: 0;
	fill: #2e78a233;
	stroke-width: 1px;
	stroke: var( --button-color-selected );
}

.marquee.active
{
	opacity: 1;
}