.graph
{
	background-color: #edeff1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.graph.panning
{
	cursor: move;
}

.graph.marqueeing:not(.panning)
{
	cursor: crosshair;
}

.marquee
{
	opacity: 0;
	fill: #ffffff6e;
	stroke-width: 1px;
	stroke: #fff;
}

.marquee.active
{
	opacity: 1;
}