.graph
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.graph.selected
{
	cursor: move;
}

.graph, .graph svg, .graph svg > *
{
	position: absolute;
}

.grid.hidden
{
	display: none;
}