@value graphbase: "../../../nodegraph-base/views/graph/Graph.module.css";

.graph
{
	composes: graph from graphbase;
}

.panning
{
	composes: panning from graphbase;
}

.marqueeing
{
	composes: marqueeing from graphbase;
}

.marquee
{
	composes: marquee from graphbase;
}

.linking:not(.panning):not(.marqueeing)
{
	cursor: alias;
}