.node
{
	position: absolute;
}

.graphic
{ 
	stroke-width: 2;
	cursor: pointer;
}

.outline
{
	user-select: none;
	pointer-events: none;
	stroke-linecap: square;
	stroke-width: 2;
	fill: none;
	opacity: 0;
	transition: 0.2s opacity ease;
}

.selected .outline
{
	opacity: 1;
	transition: 0.2s opacity ease;
}