.controls button.delete
{
	border-radius: var( --button-radius );
	background-color: var( --color-red );
}

.controls button.delete:disabled
{
	background-color: var( --color-light-gray );
}

.controls button.delete svg
{
	fill: var( --color-white );
}

.controls button.delete:disabled svg
{
	fill: var( --color-gray );
}