.controls .delete
{
	border-radius: var( --button-radius );
	background-color: #af3737;
}

.controls .delete:disabled
{
	cursor: initial;
	background-color: var( --button-color-disabled );
}