.node-menu
{
	opacity: 0;
	user-select: none;
	pointer-events: none;
	stroke: #fff;
	transition-property: opacity;
	transition: 0.2s opacity ease;
}

.node-menu.open
{
	user-select: auto;
	pointer-events: auto;
}

.node-menu.open:hover
{
	opacity: 1;
}

.node-menu .link, .node-menu .delete
{
	stroke-width: 60px;
	fill: none;
}

.node-menu .link
{
	transform: rotate( -90deg );
}

.node-menu .delete
{
	transform: rotate( 90deg );
	stroke: #333333;
}