.node-menu
{
	opacity: 0;
	stroke: #fff;
	transition-property: opacity;
	transition: 0.2s opacity ease;
}

.graph:not(.marqueeing) .nodes:not(.dragging) .node-menu:hover
{
	opacity: 1;
}

.node-menu .link, .node-menu .delete
{
	fill: none;
}

.node-menu .link
{
	transform: rotate( -90deg );
}

.node-menu .delete
{
	transform: rotate( 90deg );
	stroke: #333333;
}