.interface
{
	--menu-width: 360px;
	--controls-width: 60px;
	--button-spacing: 10px;
	--button-radius: 6px;
	--button-color: #555555;
	--button-color-selected: #2e78a2;
	--button-icon: #d2d2d2;
	--button-icon-selected: #ffffff;
	position: fixed;
	height: 100%;
	z-index: 1;
	display: flex;
	transform: translateX( calc( -1 * var( --menu-width ) ) );
	transition-property: transform;
	transition: transform 0.3s;
}

.interface.open
{
	transform: translateX( 0 );
}

nav
{
	position: absolute;
	left: var( --menu-width );
	pointer-events: auto;
	box-sizing: border-box;
	width: var( --controls-width );
	padding: var( --button-spacing );
}