.interface
{
	position: fixed;
	height: 100%;
	display: flex;
	transform: translateX( calc( -1 * var( --menu-width ) ) );
	transition-property: transform;
	transition: transform 0.3s;
}

.interface.open
{
	transform: translateX( 0 );
}