.selection
{
	display: none;
	width: inherit;
	height: inherit;
}

.selection.marquee
{
	display: block;
}

.selection rect
{
	fill: #2e78a233;
	stroke-width: 1px;
	stroke: var( --button-color-selected );
}