.selection-controls > *
{
	margin-top: var( --button-spacing );
}

.select-toggle button.selected, .delete:not(.selected)
{
	pointer-events: none;
	cursor: initial;
}

.delete
{
	border-radius: var( --button-radius );
}

.delete.selected
{
	background-color: #af3737;
}