:root
{
	--controls-width: 60px;
	--button-spacing: 10px;
	--button-radius: 6px;
	--button-color-light-gray: #bbbbbb;
	--button-color-gray: #3131316b;
	--button-color-selected: #30bcd2ba;
	--icon-color-selected: #fff;
}

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #000;
	overflow: hidden;
}

button
{
	box-sizing: border-box;
	background: transparent;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
}