:root
{
	--menu-width: 350px;
	--controls-width: 60px;
	--button-spacing: 10px;
	--button-radius: 6px;
	--button-color-light-gray: #bbbbbb;
	--button-color-gray: #484a4b;
	--button-color-selected: #2b93a4;
	--icon-color-selected: #fff;
}

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background: #1c2429;
	overflow: hidden;
}

button
{
	box-sizing: border-box;
	background: transparent;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
}