.controls
{
	position: absolute;
	left: var( --menu-width );
	pointer-events: auto;
	box-sizing: border-box;
	padding: var( --spacing-small );
}

.controls > *:not(:first-child), .controls .buttons > *:not(:first-child)
{
	margin-top: var( --spacing-small );
}

.controls button
{
	border: none;
	outline: none;
	cursor: pointer;
	height: var( --button-size );
	width: var( --button-size );
	transition: 0.5s fill ease, 0.5s background-color ease;
	transition-property: fill, background-color;
}

.controls svg
{
	width: 100%;
}

.controls button
{
	background-color: var( --color-blue );
	padding: 8px;
	border-radius: var( --button-radius );
}

.controls button:disabled
{
	cursor: initial;
}

.controls button:disabled, .controls .deselected
{
	background-color: var( --color-gray );
}

.controls button svg
{
	fill: var( --color-white );
}

.controls button:disabled svg, .controls .deselected svg
{
	fill: var( --color-light-gray );
}

.controls .group button
{
	border-radius: 0;
}

.controls .group button:first-child
{
	border-top-left-radius: var( --button-radius );
	border-top-right-radius: var( --button-radius );
}

.controls .group button:last-child
{
	border-bottom-left-radius: var( --button-radius );
	border-bottom-right-radius: var( --button-radius );
}