.controls button
{
	box-sizing: border-box;
	background: transparent;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	display: flex;
	height: calc( var( --controls-width ) - 2 * var( --button-spacing ) );
}

.controls svg
{
	fill: #fff;
	transition: 0.5s fill ease;
	transition-property: fill;
	width: inherit;
}

.controls > *
{
	margin-top: var( --button-spacing );
}

.controls button
{
	background-color: #a2a2a2;
	transition: 0.5s background-color ease;
	transition-property: background-color;
	position: relative;
}

.controls button.selected
{
	background-color: var( --button-color );
}

.controls button:first-child
{
	border-top-left-radius: var( --button-radius );
	border-top-right-radius: var( --button-radius );
}

.controls button:last-child
{
	border-bottom-left-radius: var( --button-radius );
	border-bottom-right-radius: var( --button-radius );
}