.interface
{
	--menu-width: 360px;
	--controls-width: 56px;
	--color-red: #af3737;
	--color-white: #ffffff;
	--color-blue: #2e78a2;
	--color-light-gray: #b1b1b1;
	--color-gray: #777777;
	--color-dark-gray: #3c3c3c;
	--spacing-small: 10px;
	--button-radius: 4px;	
	
	--menu-bg: #525252;
	--menu-text: #aeaeae;
	--menu-tabs-bg: #313131;
	--button-color: #2e78a2;
	--button-spacing: 10px;
	position: fixed;
	height: 100%;
	z-index: 1;
	display: flex;
	transform: translateX( calc( -1 * var( --menu-width ) ) );
	transition-property: transform;
	transition: transform 0.3s;
}

.interface.open
{
	transform: translateX( 0 );
}

.interface button
{
	border: none;
	outline: none;
	cursor: pointer;
}

.interface nav
{
	position: absolute;
	left: var( --menu-width );
	pointer-events: auto;
	box-sizing: border-box;
	width: var( --controls-width );
	padding: var( --button-spacing );
}