.interface
{
	--menu-width: 360px;
	--controls-width: 56px;
	--color-red: #af3737;
	--color-white: #ffffff;
	--color-blue: #1d6cb7;
	--color-light-blue: #3089dd;
	--color-gray: #404040;
	--color-medium-gray: #525252;
	--color-light-gray: #b1b1b1;
	--color-dark-gray: #2b2b2b;
	--spacing-tiny: 5px;
	--spacing-small: 10px;
	--button-radius: 4px;
	--button-size: 36px;
	--text-shadow: 2px 2px 1px #00000091;
	position: fixed;
	height: 100%;
	z-index: 1;
	display: flex;
	transform: translateX( calc( -1 * var( --menu-width ) ) );
	transition-property: transform;
	transition: transform 0.3s;
}

.interface.open
{
	transform: translateX( 0 );
}

.interface
{
	font-family: "Roboto", sans-serif;
}