.sub-item
{
	width: 100%;
}

.sub-item .toggle
{
	border: none;
}

.sub-item button.sub-item-toggle
{
	background-color: var( --color-dark-gray );
}

.sub-item.open button.sub-item-toggle svg
{
	transform: rotate( 90deg );
}

.sub-item .sub-item-content
{
	display: none;
}

.sub-item.open .sub-item-content
{
	display: flex;
}