.menu .item .item-bar
{
	height: var( --bar-height );
	display: flex;
	align-items: center;
	color: var( --color-white );
	background-color: var( --color-dark-gray );
	text-shadow: var( --text-shadow );
	font-weight: 500;
}

.menu .item .item-bar :first-child
{
	flex-grow: 1;
	padding-left: var( --spacing-small );
}