.menu .item .item-bar
{
	height: var( --bar-height );
	display: flex;
	align-items: center;
	color: var( --color-white );
	background-color: var( --color-dark-gray );
	text-shadow: var( --text-shadow );
	font-weight: 500;
}

.menu .item .item-bar > *
{
	margin-left: var( --spacing-small );
}

.menu .item .item-bar span
{
	flex-grow: 1;
}

.menu .item .item-bar .item-buttons button
{
	padding: var( --spacing-tiny );
	background-color: transparent;
}

.menu .item .item-bar .item-buttons button svg
{
	height: 100%;
	fill: var( --color-light-blue );
}

.menu .item .item-bar .item-buttons button:active svg
{
	fill: var( --color-white );
}

.menu .item .item-bar .item-buttons .item-delete svg
{
	fill: var( --color-red );
}