.submenu
{
	width: 100%;
}

.submenu .subcontent
{
	display: none;
	border: 1px solid var( --menu-tabs-bg );
	padding: var( --menu-spacing );
}

.submenu .subcontent, .submenu .subcontent > *:not(:first-child)
{
	margin-top: var( --menu-spacing );
}

.submenu.open .subcontent
{
	letter-spacing: initial;
	display: block;
}

.submenu .toggle svg
{
	display: block;
	height: 1em;
}

.submenu.open .toggle svg
{
	transform: rotate( 90deg );
}

.submenu button
{
	padding: 4px 8px;
	background-color: var( --button-color );
	color: #fff;
}

.submenu .subcontent button
{
	border-radius: var( --button-radius );
}

.submenu .toggle
{
	align-items: center;
	text-shadow: var( --text-shadow );
	width: inherit;
	display: flex;
	border: 1px solid #59aede;
}

.submenu .toggle svg
{
	fill: #fff;
	margin-right: 8px;
}