.submenu, .submenu .kvp input
{
	width: 100%;
}

.submenu button
{
	color: var( --color-white );
}

.submenu button.toggle, .submenu.open .subcontent
{
	display: flex;
}

.submenu button.toggle
{
	align-items: center;
	text-shadow: var( --text-shadow );
	width: inherit;
	border: 1px solid var( --color-light-blue );
	background-color: var( --color-blue );
}

.submenu button, .submenu.open .subcontent
{
	padding: var( --spacing-tiny ) var( --spacing-small );
}

.submenu button.toggle svg
{
	display: block;
	height: 1em;
	fill: var( --color-white );
	margin-right: var( --spacing-small );
}

.submenu.open button.toggle svg
{
	transform: rotate( 90deg );
}

.submenu .subcontent
{
	display: none;
}

.submenu.open .subcontent
{
	box-sizing: border-box;
	flex-direction: column;
	border: 1px solid var( --color-dark-gray );
	margin-top: var( --spacing-tiny );
}

.submenu .kvp
{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: var( --spacing-tiny );
	grid-column-gap: var( --spacing-small );
}

.submenu .kvp :nth-child(2n+1):after
{
	content: ":"
}