@value controls: "./Controls.module.css";
@value colors: "../Colors.css";
@value gray, light-gray, blue, white from colors;

.button
{
	composes: button from controls;
	background-color: gray;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.button svg
{
	fill: light-gray;
}

.button:disabled
{
	background-color: blue;
}

.button:disabled svg
{
	fill: white;
}