.node
{
	position: absolute;
	cursor: pointer;
}

.node .graphic
{ 
	stroke-width: 2;
}

.node .outline
{
	stroke: #fff;
	stroke-linecap:square;
	stroke-width: 2;
	fill: none;
	opacity: 0;
	transition: 0.2s opacity ease;
	transition-property: opacity;
}

.node.selected .outline
{
	opacity: 1;
}

.node .text
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	user-select: none;
	pointer-events: none;
}

.node p
{
	max-height: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0;
	word-break: break-all;
}

.node.selected p
{
	overflow: visible;
}