.controls .delete:not(.selected)
{
	pointer-events: none;
	cursor: initial;
}

.controls .delete
{
	border-radius: var( --button-radius );
}

.controls .delete.selected
{
	background-color: #af3737;
}