@value itembase: "../../../../nodegraph/views/interface/menu/Item.module.css";
@value sub: "../../../../nodegraph/views/interface/menu/Sub.module.css";
@value colors: "../../../../nodegraph/views/Colors.css";
@value white, medium-gray from colors;
@value spacing-small from itembase;

.item
{
	composes: item from itembase;
}

.open
{
	composes: open from itembase;
}

.bar
{
	composes: bar from itembase;
}

.content
{
	composes: content from itembase;
}

.toggle
{
	composes: button from itembase;
	color: white;
	padding: 0;
	font: inherit;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.toggle > *:not(:first-child)
{
	margin-left: spacing-small;
}

.toggle svg
{
	fill: white;
	height: 14px;
}

.open .toggle svg
{
	transform: rotate( 90deg );
}

.button
{
	composes: button from itembase;
}

.invisible svg
{
	fill: medium-gray;
}

.circle
{
	border-style: solid;
	border-width: 2px;
	height: 12px;
	width: 12px;
	border-radius: 50px;
}

.kvp
{
	composes: kvp from sub;
}