@value interface: "../Interface.module.css";
@value spacing-small from interface;
@value sub: "./Sub.module.css";

.items > *:not(:first-child)
{
	margin-top: 2px;
}

.new
{
	box-sizing: border-box;
	display: flex;
}

.new > *:not(:first-child)
{
	margin-left: spacing-small;
}

.new input
{
	flex-grow: 1;
	width: 0;
}

.create
{
	composes: button from sub;
}