@value nodebase: "../../../../nodegraph-base/views/graph/nodes/Node.module.css";

.node
{
	composes: node from nodebase;
	display: none;
}

.node.visible
{
	display: initial;
}

.text
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	box-sizing: border-box;
}

.node foreignObject, .text
{
	user-select: none;
	pointer-events: none;
}

.node p
{
	color: #ffffff;
	font-weight: 300;
	max-height: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0;
	word-break: break-all;
}

.node.selected p
{
	text-shadow: 2px 2px 6px #000;
	overflow: visible;
}

.outline
{
	composes: outline from nodebase;
}

.graphic
{
	composes: graphic from nodebase;
}

.selected
{
	composes: selected from nodebase;
}