.marquee
{
	display: none;
	width: inherit;
	height: inherit;
}

.marquee.active
{
	display: block;
}

.marquee rect
{
	fill: #2e78a233;
	stroke-width: 1px;
	stroke: var( --button-color-selected );
}